PUBLIC_URL=http://localhost:3000

API_KEY=abc123!fantaElite2025

OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini

KOFI_VERIFICATION_TOKEN=8b22d56d-8300-4cad-a3b8-acd4e2ccda3b

# opzionale (se invii email)
# RESEND_API_KEY=8517dac0ebe1c26b46f8d71fc40e79a6
# FROM_EMAIL=FantaElite <fantaelitecoach@gmail.com>
